<?xml version="1.0"?>
<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
  <arg name="rname" default="go1"/>
  <arg name="robot_path" value="(find ucf_go1_bringup)"/>
  <arg name="dollar" value="$"/>
  <!-- Load example URDF -->
  <param name="robot_description"
          command="$(find xacro)/xacro --inorder '$(arg dollar)$(arg robot_path)/xacro/robot.xacro' 
          DEBUG:=$(arg debug)"/>
  <group ns="go1">

    <!-- Load hardware interface -->
    <node name="go1_hardware_interface" pkg="ucf_go1_control" type="go1_hw_main"
          output="screen" launch-prefix="$(arg launch_prefix)"/>

    <!-- Load controller settings -->
    <rosparam file="$(find ucf_go1_bringup)/config/real_robot_control.yaml" command="load"/>

    <!-- Load controller manager -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
	  output="screen" args="spawn joint_state_controller traj_controller" />

    <!-- Convert joint states to /tf tranforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  </group>

</launch>
